@media screen and (min-width: 1025px) {
   
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #headerTitulo {
        padding: 20px;
    }

    #itens {
        display: block;
    }

    #burguer {
        display: none;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        background-color: transparent;
        padding: 20px;
    }

    .botao {
        padding: 15px; 
        font-size: 1.1em;
        border: 2.2px solid #9e1de499;
    }

   /* corpo da pagina */

    main {
        height: 100vh;
    }

    #hello {
        align-items: flex-start;
        width: 65%;
    }

    #animaText {
        text-align: left;
        font-family: monospace;
        border-right: 4px solid;
        white-space: nowrap; 
        width: 9ch;
        overflow: hidden;
        animation: animaTexto steps(9) 2s, animaMarcador .5s Linear infinite; 
        font-size: 5em;
    }
    
    @keyframes animaMarcador {
        50% {
            border-right: transparent;
        }
    }
    
    @keyframes animaTexto {
        0% {
            width:0;
        }
    }
        
    
       #hello > h3 {
        text-align: left;
       }
    
/* about me */ 



#aboutMe

#infosMe, #foto {
    height: 100%;
    width: 50%;
    flex: 1;
}

#infosMe > ul > li{
    line-height: 2.5em;
}

#foto {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto > div {
    width: 400px;
    height: 400px;
    background: url(unnamed.jpg) center center;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0px 3px 8px #9e1de499;

}

.aboutTitulo {
    font-size: 2.8em;
}

#infosMe > ul > li {
    font-size: 1.4em;
}

.link-redes {
    margin: 20px;
    margin-left: 30px;
}

/*Projetos*/ 

#mainProjetos {
    height: 90vh;
}

#projetos {
    flex-direction: row;
    justify-content: space-evenly;
}

.cardProjetos {
    height: 64vh;
    width: 30%;
}

.linkProjetos {
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Skills*/ 

#mainSkills {
    height: 100vh;
}

#skills {
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
}

.cardsSkills {
    width: calc(33% - 100px); 
    height: 30vh ;

}

.cardsSkills p {
    font-size: 1.3em;
}

/*Forms*/ 

#mainForm {
    height: 60vh;
}

} 